$color_primary: var(--color-primary, #313344);
$color_primary_bright: var(--color-primary-bright, #9698b3);
$color_primary_highlight: var(--color-primary-highlight, #6E7085);
$color_secondary: var(--color-secondary, #FFE4E4);
$font_type: var(--font-type, sans-serif);
$font_size_question: var(--font-size-question, 1.5rem);
$font_size_answer: var(--font-size-answer, 1rem);
$font_size_result: var(--font-size-result, 1.2rem);
$font_size_restart: var(--font-size-restart, 1rem);
