:host {
  display: block;
}

.results {
  text-align: center;
  font-family: $font-type;
  color: $color_primary;
}

.text {
  font-size: $font-size_result;
}

button {
  padding: 1rem 3rem;
  border: 2px solid $color_primary;
  font-size: $font-size_restart;
  background: transparent;
  margin-top: 3rem;
  font-family: monospace, sans-serif;
  cursor: pointer;
}

button:hover {
  background-color: $color_primary;
  color: $color_secondary;
}


